<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Alta usuarios</title>
</head>
<body>
    <h1>Registro de usuario</h1>
    <p style="background-color: {{color}}; color: #FFFFFF">{{msg}}</p>
    <form method='post' action="/alta">
        <label>Usuario:</label>
        <input type="text" name='username' placeholder="{{userVacio}}" value="{{username}}">
        <label>Contraseña:</label>
        <input type="password" name='password' placeholder="{{passVacio}}">
        <input type="submit" value='Registrar'>
        <a href="/">Regresar</a>
    </form>
</body>
</html>
